name: Build Android and iOS
on: [pull_request]
jobs:
  install-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install npm dependencies
        run: npm ci
      - name: Run tests
        run: npm test

  build-android:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: ./gradlew assembleDebug -Dorg.gradle.logging.level=info
        working-directory: android
        name: Build Android apk (debug)


  build-ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: xcode-select -p
      - name: Install pod dependencies
        working-directory: ios
        run: pod install
      - name: Build iOS (debug)
        run: xcodebuild -workspace ios/throwl.xcworkspace -scheme throwl clean archive -sdk iphoneos -configuration Debug -UseModernBuildSystem=NO -archivePath $PWD/throwl CODE_SIGNING_ALLOWED=NO"


